<!-- login.component.html -->
<div class="outer">
    <div class="login-form">
            <span><strong>Sign In</strong></span>
    
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="email" />
        </div>

        <div>
            <label for="role">Role</label>
            <select id="role" [(ngModel)]="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password" />
        </div>
        
        <div>
            <button (click)="onSubmit()">Sign In</button>
        </div>
        <div>
            <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
        </div>
    </div>
</div>